.progress{
    background-color: red;
    height: 2px;
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
*{
    margin: 0;
    padding: 0;
}
.slider{
    width: 100vw;
    height: 300px;
    background-color: aqua;
}
header{
    height: 122px;
    background-color: black;
}
main{
    height: 899px;
    background-color: blue;
}
@keyframes load {
    0%{
        width: 0px;
    }   
    50%{
        width: 60vw;
    }
    100%{
        width: 100vw;
    }
}